<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script defer th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
    <script defer th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-2">
            <!--     Back to Home btn       -->
            <p><a class="btn btn-outline-primary" href="/">
                <i class="bi bi-arrow-left-square-fill"></i> Back
            </a></p>
        </div>

        <div class="col-6">
            <h2>Edit Task</h2>
            <form action="#" th:action="@{/edit-task/{id}(id=${task.getId()})}" th:object="${task}" method="post">
                <fieldset class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control"
                           type="text"
                           th:field="*{description}"
                           id="description"
                           placeholder="Description"
                    >
                    <p th:if="${#fields.hasErrors('description')}" th:errorclass="error" th:errors="*{description}"></p>

                </fieldset>
                <fieldset class="form-group">
                    <label for="deadline">Deadline Date</label>
                    <input class="form-control"
                           type="date"
                           th:field="*{deadline}"
                           id="deadline"
                           placeholder="Deadline"
                    >
                    <p th:if="${#fields.hasErrors('deadline')}" th:errorclass="error" th:errors="*{deadline}"></p>
                </fieldset>

                <!--    Save btn    -->
                <button type="submit" class="btn btn-outline-success">
                    <i class="bi bi-plus-square-fill"></i> Save
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>